body {
    background: #fafafa;
    font-family: 'Noto Serif',"Helvetica Neue", Helvetica, Arial, serif;
    color: #333;
}

label {
    cursor: pointer;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.questionnaire:before {
    content: '';
    display: block;
    position: absolute;
    right: -72px;
    top: -37px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 120px 0 120px 70px;
    border-color: transparent transparent transparent #1abc9c;
}

.questionnaire:after {
    content: '';
    display: block;
    position: absolute;
    right: -70px;
    top: -33px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 116.5px 0 116.5px 68px;
    border-color: transparent transparent transparent #ecf0f1;
}
.questionnaire .triangle {
    z-index: 2;
    display: block;
    position: absolute;
    right: -22px;
    top: -37px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 37px 0 0 21px;
    border-color: transparent transparent transparent #1abc9c;
}
.questionnaire .hide{
    z-index: 3;
    display: block;
    position: absolute;
    right: -21px;
    width: 0;
    height: 164.5px;
    border-style: solid;
    border-width: 0 0 37px 21px;
    border-color: transparent transparent transparent #ecf0f1;
;
}
.questionnaire {
    margin: 50px 17% 50px 20%;
    border-radius: 4px;
    background-color: #ecf0f1;
    padding: 0 20px 20px 20px;
    border: 2px solid #1abc9c;
    border-top: 40px solid #1abc9c;
    position: relative;
    max-width: 1024px;
}

.questionnaire header + div p:first-child::first-letter {
      /* Use :first-letter if support for IE 8 or earlier is needed */
    color: red; 
    font-size: 130%; 
}

.questionnaire header {
    text-align: center;
}

.questionnaire div.description p{
    padding: 0 10px 0 10px;
}

fieldset {
    border: 2px solid #7f8c8d;
    border-radius: 3px;
    position:relative;
    margin: 30px 0 30px 0;
    padding: 0 20px 20px 20px;
}

.question_mark{
    width: 30px;
    height: 30px;
    background-color: #e74c3c;
    text-align: center;
    border-radius:50%;
    position: absolute;
    margin-left: -90px;
    margin-top: 15px;
    cursor: pointer;
    z-index: 3;
}
.question_mark label{
    line-height:30px;
    color: white;
}

.question_mark.passed{
    background-color: #1abc9c;
}

fieldset input[type="text"],
fieldset textarea{
    width: 100%;
}

textarea {
    resize:vertical;
}
.resume{
    margin-left: 20px;
}
.resume .inline{
    margin-bottom: 20px;
}

.resume .inline .note{
    margin: 2px 0 0 180px;
    color: gray;
    font-size: 90%;
}

.inline{
    display: inline-block;
    font-size: 90%;
    width: 100%;
}
.inline:after{
    content: '';
    display: block;
}

.inline label{
    width: 170px;
    white-space: pre-wrap;
    float: left;
}
.inline input{
    margin-left: 10px;
    width: 200px;
}
.inline textarea{
    margin-left: 10px;
    width: 198px;
}


.okgo{
    text-align:center;
    background-color:#1abc9c;
    margin: 20px -20px -20px -20px;
    padding: 10px;
}

.okgo input{
    margin: 0 10px 0 10px;
}


